html{
    background: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: white;
    border-radius: 20px;
    padding: 30px;
    width: 700px;
    margin: 0 auto;
    margin-top: 3%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    color: hsl(186, 14%, 43%);
    margin-bottom: 10%;
    font-weight: 700;
    
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-size: 20px;
    color: hsl(183, 100%, 15%);
}

  .input-container p {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
  }



  .dollar-icon {
    padding-left: 25px;
    background: url("./images/icon-dollar.svg") no-repeat left;
    background-size: 20px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent interaction with the symbol */
    color: #aaa; 
  }

  .person-icon {
    position: absolute;
    left: 26.5%;
    top: 75.7%;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent interaction with the symbol */
    color: #aaa; 
  }
  

  .bill-input {
    background: url("./images/icon-dollar.svg") no-repeat left;
    background-size: 17px;
    font-family: 'Space-Mono' ,monospace;
    font-weight: bold;
    font-display: right;
    color: hsl(183, 100%, 15%);
    direction: rtl; /* Right to left */
    width: 100%;
    padding: 10px 10px 10px 30px; /* Padding to leave space for the dollar sign */
    font-size: 21px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: hsl(189, 41%, 97%);
  }

  .people-input {
    background: url("./images/icon-person.svg") no-repeat left;
    background-size: 17px;
    font-family: 'Space-Mono' ,monospace;
    font-weight: bold;
    font-display: right;
    color: hsl(183, 100%, 15%);
    direction: rtl; /* Right to left */
    width: 100%;
    padding: 10px 10px 10px 30px; /* Padding to leave space for the dollar sign */
    font-size: 21px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: hsl(189, 41%, 97%);
  }

input::placeholder {
    color: hsl(186, 14%, 43%);
  }

  
  .selection-container {
    text-align: center;
    max-width: 300px;
  }

  .selection-container p {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .tip-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px; /* Space between items */
  }

  .tip-button, .custom-tip {
    border: none;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
  }

  .tip-button {
    background-color: hsl(183, 100%, 15%);
    color: white;
    transition: background-color 0.3s;
  }

  .tip-button:hover {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
  }

  .custom-tip {
    background-color: hsl(189, 41%, 97%);
    font-size: 16px;
    width: 100%;
  }

  .tip-amount {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: hsl(183, 100%, 15%);
    color: white;
  }

  .total-amount{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: hsl(183, 100%, 15%);
    color: white;
  }
  output {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: hsl(172, 67%, 45%);
  }


  .output-container {
    margin-top: 5px;
    padding: 20px;
    width: 45%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    color: white;
  }
  
  .tip-amount-value{
    margin-top: 0;
    font-size: 10px;

}

.total-amount-value{
    margin-top: 0;
    font-size: 10px;
}

.reset-button{
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}




/* Media query for mobile devices */
@media (max-width: 1030px) {
    .container{
        flex-direction: column;
        height: 75%;
        width: 100%;
    }

    .output-container{
        margin-top: 3%;
        width: 90%;
    }

}